/* general styles */
.inline {
    display: inline-block;
}

.pointer {
    cursor: pointer;
}

.btn {
    padding: 10px 15px;
    margin: 10px;
    border-radius: 4px;
}

.btn:hover {
    background: #c9c9c9;
}

.text-center {
    text-align: center;
}

/* position style */
.container {
    padding: 30px;
}

.sidebar {
    width: 33.1%;
}

.content {
    max-width: 500px;
    width: 66.5%;
}
